.friend-info {
  padding: 12px 15px;
  display: flex;
  justify-content: start;
  height: 100%;
  flex-direction: column;
  background-color: white;
  .image-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .image {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      margin-bottom: 5px;
    }
    .active-user {
      color: rgb(27, 238, 27);
      margin-bottom: 3px;
    }
    .name {
      h4 {
        font-weight: 600;
        color: var(--text-color);
        margin-bottom: 8px;
      }
    }
  }
  .others {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    .group-action {
      display: flex;
      color: var(--text-color);
      justify-content: space-around;
      .icon-action:hover .icon {
        background-color: #c4c4c4;
      }
      .icon-action {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 115px;
        align-content: center;
        .icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #dadada;
          font-size: x-large;
          margin: auto;
        }
        .icon-label {
          font-size: 14px;
          text-align: center;
        }
      }
    }
    .custom-chat,
    .privacy,
    .media,
    .members {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 4px 0px;
      color: var(--text-color);
      cursor: pointer;
      h3 {
        font-size: 14px;
      }
      label {
        cursor: pointer;
        color: var(--text-color);
      }
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    overflow-y: auto;
    display: none;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  #gallery {
    display: none;
  }
  #gallery:checked ~ .gallery {
    display: grid;
  }

  .member-list {
    overflow-y: auto;
    display: none;
    max-height: 300px;
    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user-info {
        display: flex;
        .image {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid var(--text-color);
          }
        }
        .name {
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            padding-left: 10px;
            font-weight: 600;
            color: var(--text-color);
          }
        }
      }
      .action {
        .action-icon {
          font-size: large;
          cursor: pointer;
        }
      }
    }
  }

  #member-list {
    display: none;
  }
  #member-list:checked ~ .member-list {
    display: block;
  }
}
