.wrapper {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.verification-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.verification-box {
  margin: 0 auto;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #c82333;
}

.verification-box h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #333333;
}

.verification-box p {
  margin-bottom: 20px;
  color: #666666;
}

.verification-box form {
  display: flex;
  flex-direction: column;
}

.verification-box label {
  margin-bottom: 10px;
  text-align: left;
  color: #333333;
}

.verification-box input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
}

.verification-box .resend {
  margin-top: 20px;
  color: #666666;
}

.verification-box .resend a {
  color: #007bff;
  text-decoration: none;
}

.verification-box .resend a:hover {
  text-decoration: underline;
}

.resend a {
  cursor: pointer;
}
